body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 10px;
}

.img-fluid {
    width: 100%;
    height: auto;
}
